global_defs {
# Keepalived process identifier
lvs_id {{ keepalived_process_id }}
}
# Script used to check if HAProxy is running
vrrp_script {{ vrrp_script_name }} {
script {{ vrrp_script }}
interval {{ vrrp_check_interval }}
weight {{ vrrp_weight}}
script_user {{ script_user }}
}

vrrp_instance VI_01 {
state {{ keepalived_node }}
interface {{ vrrp_interface }}
virtual_router_id {{ virtual_router_id }}
priority {{ priority }}
virtual_ipaddress {
{{ vip_address }}
}
track_script {
{{ vrrp_script_name }}
}
}
